.home-main {
    padding-top:100px;
    display: grid;
    grid-template-columns: 10% 70%;
    gap: 10px;
    height:auto;
}

.home-c1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:10px;
}

.st-line {
    width:2px;
    height:200px;
    color:white;
    background-color: white;
    margin-bottom:60px;
    margin-left:9px;
}

.icon {
    color: white; /* Icon color */
    width:20px;
    height:20px;
    margin-bottom:25px;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.icon:hover {
    color:aqua; /* Lighter color on hover */
}

.about-heading {
    color:white;
    font-size: 60px;
    font-weight: bold;
}

.about-content {
    background-color:rgba(0, 0, 0, 0.481);
    width: auto;
    border-radius:5px;
    color: white;
}

.team-info {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-heading {
    color:white;
    font-size: 30px;
}

.member-card {
    background-color:rgba(0, 0, 0, 0.481);
    border-radius:5px;
    width:300px;
}

.details {
    display: flex;
    flex-direction: row;
}

.usr {
    width:25px;
    height:25px;
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
}

.mem-name {
    color:white;
    font-size:15px;
    padding-right:10px;
    font-weight:Bolder;
}

.mem-desc {
    padding-left:45px;
    padding-right:10px;
    color:white;
}

.role {
    margin-right:10px;
    margin-left:45px;
    border-radius:5px;
    background-color:rgba(0, 0, 255, 0.501);
    text-align: center;
    color:white;
    font-weight: bold;
    margin-bottom: 10px;
}